<div class="reference-page-container">
    <div class="reference-page-header">
        <app-reference-banner [title]="title"></app-reference-banner>
    </div>

    <div class="table-container">
        <div class="reference-page-panel">
            <!-- Search Input -->
            <div class="search-container">
                <input type="text" placeholder="Search by Copmany Name..." [(ngModel)]="query" (keyup)="search()"
                    class="search-bar" />
            </div>
            <button>New Broker Company</button>
        </div>
        <table class="task-table">
            <thead>
                <tr>
                    <th>Company ID</th>
                    <th>Company Name</th>
                    <th>Address</th>
                    <th>City</th>
                    <th>Province</th>
                    <th>PostalCode</th>
                    <th>isTopLevel</th>
                    <th>parentCompanyId</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let company of companies">
                    <td>{{ company.broker_company_id }}</td>
                    <td><a [routerLink]="['/brokercompany', company.id]">{{company.broker_company_name}}</a> </td>
                    <td>{{ company.broker_company_address }}</td>
                    <td>{{ company.broker_company_city }}</td>
                    <td>{{ company.broker_company_province }}</td>
                    <td>{{ company.broker_company_postal_code }}</td>
                    <td>{{ company.is_top_level }}</td>
                    <td><a [routerLink]="['/brokercompany', company.parent_company]">{{company.parent_company}}</a> </td>                </tr>
            </tbody>
        </table>
    </div>
</div>