<div class="account-page">
    <div class="top-half-container">
        <div class="primary-info-card">
            <div class="primary-info-container">
                <h1 class="named-insured"><a href="/dashboard">{{insured}}</a></h1>
                <h2>Policy Number: {{policyId}}</h2>
            </div>
            <div class="broker-container">
                <div class="Broker-info-container">
                    <h3><a href="/dashboard">Broker: {{brokerName}}</a></h3>
                    <p>Title: {{brokerTitle}}</p>
                    <p>Tel: {{brokerPhone}}</p>
                    <p>Email: {{brokerEmail}}</p>
                    <button class="top-button">Change Broker</button>
                </div>
                <div class="Broker-company-container">
                    <h3><a href="/dashboard">Company: {{brokerCompanyName}}</a></h3>
                    <p>Address: {{brokerCompanyAddress}}</p>
                    <p>City: {{brokerCompanyCity}}</p>
                    <p>PostalCode: {{brokerCompanyPostalCode}}</p>
                    <button class="top-button">Change Company</button>
                </div>
            </div>
        </div>
        <div class="secondary-info-card">
            <div>
                <div class="info-card">
                    <h3>Status:</h3>
                    <table class="status-table table">
                        <tr>
                            <td>New or Renewal:</td>
                            <td>{{newOrRenewal}}</td>
                        </tr>
                        <tr>
                            <td>Submitted To RiskWrite:</td>
                            <td>{{submittedToRiskWrite}}</td>
                        </tr>
                    </table>
                    <h3>Timeline:</h3>
                    <table class="timeline-table table">
                        <tr>
                            <td>Submission Rec Date:</td>
                            <td>{{submissionRecDate}}</td>
                        </tr>
                        <tr>
                            <td>First Indication/Quote Day:</td>
                            <td>{{firstIndicationOrQuoteDay}}</td>
                        </tr>
                        <tr>
                            <td>Last Updated:</td>
                            <td>{{lastUpdated}}</td>
                        </tr>
                        <tr>
                            <td>Bound in RiskWrite:</td>
                            <td>{{boundInRiskWrite}}</td>
                        </tr>
                        <tr>
                            <td>Policy Expiration:</td>
                            <td>{{policyExpiration}}</td>
                        </tr>
                    </table>
                    <h3>Product:</h3>
                    <table class="status-table table">
                        <tr>
                        <tr>
                            <td>Underwriter:</td>
                            <td>{{underwriter}}</td>
                        </tr>
                        <tr>
                            <td>Subunit:</td>
                            <td>{{subunit}}</td>
                        </tr>
                        <tr>
                            <td>Product:</td>
                            <td><b>{{insuranceProduct}}</b></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="folder-structure-card">
            <div class="folder-structure-banner">
                <h2>Documents</h2>
                <button class="action-button">Open in FileNet</button>
            </div>
            <div class="folder-structure-container">
                <div class="folder-item" [ngStyle]="{'background-image': 'url('+file+')'}">01 Submission</div>
                <div class="folder-item" [ngStyle]="{'background-image': 'url('+file+')'}">02 Quotes</div>
                <div class="folder-item" [ngStyle]="{'background-image': 'url('+file+')'}">03 Binding</div>
                <div class="folder-item" [ngStyle]="{'background-image': 'url('+file+')'}">04 Engineering</div>
                <div class="folder-item" [ngStyle]="{'background-image': 'url('+file+')'}">05 Midterm</div>
                <div class="folder-item" [ngStyle]="{'background-image': 'url('+file+')'}">08 BoR</div>
                <div class="file-item" [ngStyle]="{'background-image': 'url('+pdf+')'}">
                    BoundDoc.pdf
                </div>
                <div class="file-item" [ngStyle]="{'background-image': 'url('+exl+')'}">
                    06 Rating Model.xlsm
                </div>
                <div class="file-item" [ngStyle]="{'background-image': 'url('+doc+')'}">
                    07 Underwriter Notes.docx
                </div>

            </div>
        </div>
        <div class="action-center-card">
            <div class="folder-structure-banner">
                <h2>Action Center</h2>
            </div>
            <button class="action-button">Generate Templates</button>
            <button class="action-button">Indicate Quote</button>
            <button class="action-button">Rate</button>
            <button class="action-button">Final Rating</button>
            <button class="action-button">Final Quote</button>
            <button class="action-button">Bind to RiskWrite</button>

        </div>
    </div>
    <div class="bottom-half-container">
        <div class="rating-structure-card">
            <div class="rating-banner">
                <h2>Rating</h2>
                <button class="rating-model-button">Rating Model</button>
            </div>

            <button>Finalize Rating</button>
        </div>
        <div class="rating-structure-card">
            <div class="rating-banner">
                <h2>Quoting</h2>
                <h3 class="revision">Revison No. 2</h3>
            </div>
            <div class="quoting-info-card">
                <table class="status-table table">
                    <tr>
                        <td>Pol. Period From:</td>
                        <td>2024/10/11</td>
                    </tr>
                    <tr>
                        <td>Pol. Period To:</td>
                        <td>2027/11/11</td>
                    </tr>
                    <tr>
                        <td>Max Policy Term:</td>
                        <td>$2 000.00</td>
                    </tr>
                    <tr>
                        <td>Finaly Policy Term:</td>
                        <td>$2 000.00</td>
                    </tr>
                    <tr>
                        <td>Per Pollution Limit:</td>
                        <td>$2 000.00</td>
                    </tr>
                    <tr>
                        <td>Total Poll. Limit:</td>
                        <td>$2 000.00</td>
                    </tr>
                    <tr>
                        <td>Policy SIR:</td>
                        <td>$2 000.00</td>
                    </tr>
                    <tr>
                        <td>Retroactive Date:</td>
                        <td>2024/10/21</td>
                    </tr>
                    <tr>
                        <td>Benchmark:</td>
                        <td>$1 000.00</td>
                    </tr>
                    <tr>
                        <td>Issued Date:</td>
                        <td>2024/10/31</td>
                    </tr>
                    <tr>
                        <td>Bound Premium:</td>
                        <td>$5 555.00</td>
                    </tr>
                    <tr>
                        <td>Bound Com.:</td>
                        <td>$4 321.00</td>
                    </tr>
                    <tr>
                        <td>Bound RC Fee:</td>
                        <td>$1 234.00</td>
                    </tr>
                    <tr>
                        <td>Total Fees/CVs:</td>
                        <td>$123 012.00</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="empty-structure-card">
            <div class="rating-banner">
                <h2>Workstation Account Notes</h2>
            </div>
        </div>
        <div class="empty-structure-card">
            <div class="rating-banner">
                <h2>Audting Checklist</h2>
            </div>
        </div>
        
    </div>
</div>