<!--  Insurance Account -->
<breadcrumb [category]="accountRecord.business_unit_data.name" [id]="id"></breadcrumb>
<div class="account">
    <div class="hero">
        <account-entities [data]="accountRecord"></account-entities>
        <div>
            <account-action-card [existingPolicyId]="accountRecord.policy_id" [accountId]="accountRecord.id" [accountStatus]="accountRecord.account_status" [accountData]="accountRecord"></account-action-card>
        </div>
        <account-status-card [accountData]="accountRecord"></account-status-card>
    </div>

    <div class="account-tabs">
        <button [ngClass]="{ 'active': activeRoute === 'rater' }" (click)="setActiveRoute('rater')" [routerLink]="['rater']" routerLinkActive="active">Rater</button>
        <button [ngClass]="{ 'active': activeRoute === 'quotes' }" (click)="setActiveRoute('quotes')" [routerLink]="['quotes']" routerLinkActive="active">Quotes</button>
        <button [ngClass]="{ 'active': activeRoute === 'files' }" (click)="setActiveRoute('files')" [routerLink]="['files']" routerLinkActive="active">Files</button>
        <button [ngClass]="{ 'active': activeRoute === 'tasks-history' }" (click)="setActiveRoute('tasks-history')" [routerLink]="['tasks-history']" routerLinkActive="active">Tasks & History</button>
    </div>
    
    <div class="tab-content">
        <router-outlet></router-outlet>
    </div>
    
    <!-- <div class="account-tabs">
        <button [ngClass]="{ 'active': activeTab === 1 }" (click)="setActiveTab(1)">Rater</button>
        <button [ngClass]="{ 'active': activeTab === 2 }" (click)="setActiveTab(2)">Quotes</button>
        <button [ngClass]="{ 'active': activeTab === 3 }" (click)="setActiveTab(3)">Files</button>
        <button [ngClass]="{ 'active': activeTab === 4 }" (click)="setActiveTab(4)">Tasks & History</button>
    </div> -->
    <!-- <div class="tab-content">
        <div *ngIf="activeTab === 1">
            <app-rater-summary *ngIf="accountRecord.product_type"></app-rater-summary>
        </div>
        <div *ngIf="activeTab === 2">
            <app-rater-options></app-rater-options>
        </div>
        <div *ngIf="activeTab === 3">
            <file-structure></file-structure>
        </div>
        <div *ngIf="activeTab === 4">
            <rating-quoting [data]="accountRecord"></rating-quoting>
            <account-notes></account-notes>
        </div>
    </div> -->
    <!-- <risk-summary [data]="accountRecord"></risk-summary> -->
</div>