<insured-creation-form #insuredCreationForm></insured-creation-form>
<div class="reference-page-container">
    <div class="reference-page-header">
        <app-reference-banner [title]="title"></app-reference-banner>
    </div>

    <div class="table-container">
        <div class="reference-page-panel">
            <div class="search-container">
                <input type="text" placeholder="Search by Insured Name..." [(ngModel)]="query" (keyup)="search()"
                    class="search-bar" />
            </div>
            <button (click)="insuredCreationForm.openForm()">Create Insured</button>
        </div>
        <table class="task-table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Insured</th>
                    <th>Mailing Address</th>
                    <th>Province</th>
                    <th># of Linked Accounts</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let insured of insureds">
                    <td>{{ insured.id }}</td>
                    <td><a [routerLink]="['/insured', insured.id]">{{insured.name}}</a> </td>
                    <td>{{ insured.address }}, {{ insured.postalCode }}</td>
                    <td>{{ insured.province }}</td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>