<div class="named-insured-card account-card">
    <div class="broker-container">
        <div>
            <h1 class="named-insured"><a [routerLink]="['/insured', data.named_insured]">{{data.named_insured_data.name}}</a></h1>
            <h2>Mailing Address: {{data.named_insured_data.address}},
                {{data.named_insured_data.postal_code}}</h2>
            <h2>Province: {{data.named_insured_data.province}}</h2>
        </div>
        <underwriter-card [underwriter]="data.underwriter_data" [underwriterId]="data.underwriter"></underwriter-card>
    </div>
    <div class="broker-container">
        <div class="Broker-company-container info-card">
            <h3><a [routerLink]="['/brokercompany', data.broker_company]">Company:
                    {{data.broker_company_data.name}}</a></h3>
            <p>Address: {{data.broker_company_data.address}}</p>
            <p>PostalCode: {{data.broker_company_data.postal_code}}</p>
            <p>City: {{data.broker_company_data.city}}</p>
            <p>Province: {{data.broker_company_data.province}}</p>
            <button class="top-button">Change Company</button>
        </div>
        <div class="Broker-info-container info-card">
            <h3><a [routerLink]="['/broker', data.broker_data]">Broker:
                    {{data.broker_data.first_name}}
                    {{data.broker_data.last_name}}</a></h3>
            <p>Title: {{data.broker_data.title}}</p>
            <p>Tel: {{data.broker_data.phone_number}}</p>
            <p>Email: {{data.broker_data.email}}</p>
            <button class="top-button">Change Broker</button>
        </div>
    </div>
</div>