<div class="policy-module account-card">
    <div class=" policy-row account-row-container">
        <h2>Policy Summary:</h2>
        <h2 *ngIf="accountData.has_policy">Issued</h2>
        <button *ngIf="!accountData.has_policy" class="rating-quoting-button" (click)="updateAccount({
            policy_start_date: policyStartDate,
            policy_end_date: policyEndDate,
            has_policy: true,
            account_status: 'Bound'
            })">Issue Policy</button>
    </div>
    <div *ngIf="!accountData.has_policy">
        <div class="policy-date-setter">
            <h3>Policy Start Date: </h3>
            <input [(ngModel)]="policyStartDate">
        </div>
        <div class="policy-date-setter">
            <h3>Policy End Date: </h3>
            <input [(ngModel)]="policyEndDate">
        </div>
    </div>
    <div class="info-card">
        <table>
            <tr *ngIf="accountData.policy_start_date">
                <td class="financial-sub-subject">Pol. Period From:</td>
                <td class="financial-line-item">{{accountData.policy_start_date}}</td>
            </tr>
            <tr *ngIf="accountData.policy_end_date">
                <td class="financial-sub-subject">Pol. Period To:</td>
                <td class="financial-line-item">{{accountData.policy_end_date}}</td>
            </tr>
            <tr>
                <td class="financial-sub-subject">Max Policy Term:</td>
                <td class="financial-line-item">$2 000.00</td>
            </tr>
            <tr>
                <td class="financial-sub-subject">Finaly Policy Term:</td>
                <td class="financial-line-item">$2 000.00</td>
            </tr>
            <tr>
                <td class="financial-sub-subject">Per Pollution Limit:</td>
                <td class="financial-line-item">$2 000.00</td>
            </tr>
            <tr>
                <td class="financial-sub-subject">Total Poll. Limit:</td>
                <td class="financial-line-item">$2 000.00</td>
            </tr>
            <tr>
                <td class="financial-sub-subject">Policy SIR:</td>
                <td class="financial-line-item">$2 000.00</td>
            </tr>
            <tr>
                <td class="financial-sub-subject">Retroactive Date:</td>
                <td class="financial-line-item">2024/10/21</td>
            </tr>
            <tr>
                <td class="financial-sub-subject">Benchmark:</td>
                <td class="financial-line-item">$1 000.00</td>
            </tr>
            <tr>
                <td class="financial-sub-subject">Issued Date:</td>
                <td class="financial-line-item">2024/10/31</td>
            </tr>
            <tr>
                <td class="financial-sub-subject">Bound Premium:</td>
                <td class="financial-line-item">$5 555.00</td>
            </tr>
            <tr>
                <td class="financial-sub-subject">Bound Com.:</td>
                <td class="financial-line-item">$4 321.00</td>
            </tr>
            <tr>
                <td class="financial-sub-subject">Bound RC Fee:</td>
                <td class="financial-line-item">$1 234.00</td>
            </tr>
            <tr>
                <td class="financial-sub-subject">Total Fees/CVs:</td>
                <td class="financial-line-item">$123 012.00</td>
            </tr>
        </table>
    </div>
</div>