<div class="comments-section account-card">
    <h1>Comments:</h1>
    <div class="enter-comment-section">
        <textarea></textarea>
        <button>Send</button>
    </div>
    <div class="comments-container">
        <div class="comment info-card">
            <section> As of Friday, Nov 15th, the basic idea of this section works.</section>
            <div class="comment-creation-info">
                <p>Herman Woo</p>
                <p>2024-11-15</p>
                <p>3:51PM EST</p>
            </div>
        </div>
        <div class="comment info-card">
            <section> <a href="dashboard/">&#64;Herman Woo</a> This link totally doesnt work but is meant to demo the possibility of tagging otehr users.</section>
            <div class="comment-creation-info">
                <p>Herman Woo</p>
                <p>2024-11-15</p>
                <p>2:21PM EST</p>
            </div>
        </div>
        <div class="comment info-card">
            <section> Hello World, This comment is meant to showcase a longer comment. The design intention behind a comment section for an account is to give users the ability to collaborate or note down peculiarities of the account. But at the same time these comments cannot be too long and exceeed character limit of a text block</section>
            <div class="comment-creation-info">
                <p>Herman Woo</p>
                <p>2024-11-12</p>
                <p>10:19AM EST</p>
            </div>
        </div>
        <div class="comment info-card">
            <section>Lest we forget.</section>
            <div class="comment-creation-info">
                <p>Herman Woo</p>
                <p>2024-11-11</p>
                <p>2:00AM EST</p>
            </div>
        </div>
        <div class="comment info-card">
            <section> Hello World, This is a demo comment meant to show case the usefulness of a comment section</section>
            <div class="comment-creation-info">
                <p>Herman Woo</p>
                <p>2024-11-01</p>
                <p>12:45pm EST</p>
            </div>
        </div>
    </div>
</div>
