<div class="folder-module account-card">
    <div class="folder-structure-banner">
        <h1>Files</h1>
        <button class="action-button">Open in FileNet</button>
    </div>
    <div class="folder-structure-container">
        <div class="folder-item" [ngStyle]="{'background-image': 'url('+file+')'}">01 Submission</div>
        <div class="folder-item" [ngStyle]="{'background-image': 'url('+file+')'}">02 Quotes</div>
        <div class="folder-item" [ngStyle]="{'background-image': 'url('+file+')'}">03 Binding</div>
        <div class="folder-item" [ngStyle]="{'background-image': 'url('+file+')'}">04 Engineering</div>
        <div class="folder-item" [ngStyle]="{'background-image': 'url('+file+')'}">05 Midterm</div>
        <div class="folder-item" [ngStyle]="{'background-image': 'url('+file+')'}">08 BoR</div>
        <div class="file-item" [ngStyle]="{'background-image': 'url('+pdf+')'}">
            BoundDoc.pdf
        </div>
        <div class="file-item" [ngStyle]="{'background-image': 'url('+exl+')'}">
            06 Rating Model.xlsm
        </div>
        <div class="file-item" [ngStyle]="{'background-image': 'url('+doc+')'}">
            07 Underwriter Notes.docx
        </div>
        
    </div>
</div>      