<div class="page-container">
    <breadcrumb [link]="'brokers'" [category]="'Brokers'" [id]="id"></breadcrumb>
    <div class="page-section">
        <div class="info-content">
            <h2>Broker Info:</h2>
            <div class="info-row">
                <span class="label">Broker Name:</span>
                <span class="value">{{broker.firstName}} {{broker.lastName}}</span>
            </div>
            <div class="info-row">
                <span class="label">Broker Title:</span>
                <span class="value">{{broker.title}}</span>
            </div>
            <div class="info-row">
                <span class="label">Phone Number:</span>
                <span class="value">{{broker.phoneNumber}}</span>
            </div>
            <div class="info-row">
                <span class="label">Email:</span>
                <span class="value">{{broker.email}}</span>
            </div>
            <div class="info-row">
                <span class="label">Company ID:</span>
                <span class="value">{{broker.brokerComapnyId}}</span>
            </div>
            <div class="info-row">
                <span class="label">Parent Company:</span>
                <span class="value"><a [routerLink]="['/brokercompany', broker.brokerComapnyId]">{{broker.brokerCompanyName}}</a></span>
            </div>
        </div>
        <button>Edit</button>
    </div>
    <div class="page-section">
        <h2>Linked Accounts with Broker</h2>
        <div class="table-container">
            <table class="task-table">
                <thead>
                    <tr>
                        <th>Date Created</th>
                        <th>PolicyID</th>
                        <th>Insured</th>
                        <th>Product</th>
                        <th>Status</th>
                        <th>Last Updated</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let account of accounts">
                        <td>
                            <a [routerLink]="['/account', account.id]">{{ account.created_time }}</a>
                        </td>
                        <td>
                            <a [routerLink]="['/account', account.id]">{{ account.policy_id }}</a>
                        </td>
                        <td>
                            <a [routerLink]="['/insured', account.named_insured]">{{ account.named_insured_data.name }}</a>
                        </td>
                        <td>{{ account.product_type }}</td>
                        <td>{{ account.account_status }}</td>
                        <td>{{ account.updated_time }}</td>
                        <button [routerLink]="['/account', account.id]">Open Account</button>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
