<div class="quoting-module account-card">
    <table class="quote-revisions">
        <tr>
            <td>
                <h2>Revisions: {{accountData.quote_revisions_count}}</h2>
            </td>
            <td *ngIf="accountData.final_quote">
                <h2>FINAL</h2>
            </td>
            <td *ngIf="!accountData.final_quote">
                <button class="rating-quoting-button" (click)="updateAccount({
                    quote_revisions_count: accountData.quote_revisions_count+1
                    })">Revise Quote</button>
                <button class="rating-quoting-button" (click)="updateAccount({
                    final_quote: true
                    })">Finalize Quote</button>
            </td>
        </tr>
        <tr>
            <td>
                <h3>Doc Link: <a href="dashboard">{{doclink}}</a></h3>
            </td>
            <td>
                <h3>Date Quoted: {{dateQuoted}}</h3>
            </td>
        </tr>
    </table>
    <div class="quote-revisions-container">
        <div class="revisions-table info-card">
            <div *ngIf="accountData.final_quote" class="revision-item"
                [ngClass]="{ 'active': activeQuote === finalQuote.revisionName }"
                (click)="setActiveQuote(finalQuote.revisionName,finalQuote.dateQuoted,finalQuote)">
                <div class="revision-name">{{finalQuote.revisionName}}</div>
            </div>
            <div *ngFor="let quote of filteredQuotes | slice:-accountData.quote_revisions_count-1" class="revision-item"
                [ngClass]="{ 'active': activeQuote === quote.revisionName }"
                (click)="setActiveQuote(quote.revisionName,quote.dateQuoted,quote)">
                <div class="revision-name">{{quote.revisionName}}</div>
            </div>
        </div>
        <div class="quote-table info-card">
            <div class="quote-table-row">
                <th class="quote-table-row-item-header" *ngFor="let item of activeQuoteObject.options">{{ item }}</th>
            </div>
            <div class="quote-table-row">
                <td *ngFor="let item of activeQuoteObject.perLimit">{{ item }}</td>
            </div>
            <div class="quote-table-row">
                <td *ngFor="let item of activeQuoteObject.totalLimit">{{ item }}</td>

            </div>
            <div class="quote-table-row">
                <td *ngFor="let item of activeQuoteObject.sirOne">{{ item }}</td>

            </div>

            <div class="quote-table-row">
                <td *ngFor="let item of activeQuoteObject.sirOne">{{ item }}</td>
            </div>
            <div class="quote-table-row">
                <td *ngFor="let item of activeQuoteObject.sirTwo">{{ item }}</td>
            </div>
            <div class="quote-table-row">
                <td *ngFor="let item of activeQuoteObject.termOne">{{ item }}</td>
            </div>
            <div class="quote-table-row">
                <td *ngFor="let item of activeQuoteObject.termTwo">{{ item }}</td>
            </div>
            <div class="quote-table-row">
                <td *ngFor="let item of activeQuoteObject.termOnePremiumOne">{{ item }}</td>
            </div>
            <div class="quote-table-row">
                <td *ngFor="let item of activeQuoteObject.termOnePremiumTwo">{{ item }}</td>
            </div>
            <div class="quote-table-row">
                <td *ngFor="let item of activeQuoteObject.termOnePremiumThree">{{ item }}</td>
            </div>
            <div class="quote-table-row">
                <td *ngFor="let item of activeQuoteObject.termTwoPremiumOne">{{ item }}</td>
            </div>
            <div class="quote-table-row">
                <td *ngFor="let item of activeQuoteObject.termTwoPremiumTwo">{{ item }}</td>
            </div>
            <div class="quote-table-row">
                <td *ngFor="let item of activeQuoteObject.termTwoPremiumThree">{{ item }}</td>
            </div>
        </div>
    </div>
</div>