<div class="page-container">
    <breadcrumb [link]="'insureds'" [category]="'Named Insureds'" [id]="namedInsuredId"></breadcrumb>
    <div class="page-section">
        <record-header [title]="insured.name"></record-header>
        <div class="insured-info-content">
            <h2>Insured Info:</h2>
            <div class="info-row">
                <span class="label">Mailing Address:</span>
                <span class="value">{{insured.address}}</span>
            </div>
            <div class="info-row">
                <span class="label">Postal Code:</span>
                <span class="value">{{insured.postalCode}}</span>
            </div>
            <div class="info-row">
                <span class="label">Province:</span>
                <span class="value">{{insured.province}}</span>
            </div>
        </div>
        <button>Edit</button>
    </div>
    <div class="page-section">
        <h2>Linked Accounts</h2>
        <div class="table-container">
            <table class="task-table">
                <thead>
                    <tr>
                        <th>Year</th>
                        <th>PolicyID</th>
                        <th>Underwriter</th>
                        <th>Submission Type</th>
                        <th>Product</th>
                        <th>Policy Start Date</th>
                        <th>Policy End Date</th>
                        <th>Status</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let account of accounts">
                        <td>
                            <a [routerLink]="['/account', account.id]">{{ account.year}}</a>
                        </td>
                        <td>
                            <a [routerLink]="['/account', account.id]">{{ account.policy_id }}</a>
                        </td>
                        <td>
                            <a [routerLink]="['/underwriter', account.underwriter]">{{ account.underwriter_data.first_name }} {{ account.underwriter_data.last_name }}</a>
                        </td>
                        <td>{{ account.submission_type }}</td>
                        <td>{{ account.product_type }}</td>
                        <td>{{ account.policy_start_date }}</td>
                        <td>{{ account.policy_end_date }}</td>
                        <td>{{ account.account_status }}</td>
                        <td><button [routerLink]="['/account', account.id]">open</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
