<div class="page-container">
    <record-breadcrumb [link]="'underwriters'" [category]="'Underwriters'" [id]="id"></record-breadcrumb>
    <div class="page-section">
        <div class="info-content">
            <h2>Underwriter Info:</h2>
            <div class="info-row">
                <span class="label">Name:</span>
                <span class="value">{{underwriterFirstName}} {{underwriterLastName}}</span>
            </div>
            <div class="info-row">
                <span class="label">Role</span>
                <span class="value">{{underwriterRole}}</span>
            </div>
            <div class="info-row">
                <span class="label">Business Unit:</span>
                <span class="value">{{businessUnit}}</span>
            </div>
        </div>
        <button>Edit</button>
    </div>
    <div class="page-section">
        <h2>Linked Accounts with Underwriter ({{count}})</h2>
        <div class="table-container">
            <table class="task-table">
                <thead>
                    <tr>
                        <th>Date Created</th>
                        <th>PolicyID</th>
                        <th>Insured</th>
                        <th>Product</th>
                        <th>Status</th>
                        <th>Last Updated</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let account of accounts">

                        <td>
                            <a [routerLink]="['/account', account.id]">{{ account.dateCreated }}</a>
                        </td>
                        <td>
                            <a [routerLink]="['/account', account.id]">{{ account.policyId }}</a>
                        </td>
                        <td>
                            <a [routerLink]="['/insured', account.insuredId]">{{ account.insured }}</a>
                        </td>
                        <td>{{ account.product }}</td>
                        <td>{{ account.status }}</td>
                        <td>{{ account.lastUpdated }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>