<div class="sidebar" [class.active]="isSidebarActive">
  <!-- Sidebar toggle button -->
  <div class="sidebar__menu-btn" (click)="toggleSidebar()">
    <i class="ph-bold ph-caret-left"></i>
  </div>

  <!-- Sidebar header -->
  <div class="sidebar__head">
    <div class="sidebar__user-image">
      <img 
        class="sidebar__profile-pic"
        src="/images/Mohan-muruge.jpg" 
        alt="User Image">
    </div>
    <div class="sidebar__user-details" *ngIf="!isSidebarActive">
      <p class="sidebar__title">Web Developer</p>
      <p class="sidebar__username">John Doe</p>
    </div>
  </div>

  <!-- Sidebar navigation -->
  <div class="sidebar__nav">
    <div *ngFor="let section of navItems" class="sidebar__menu">
      <!-- Section title -->
      <p class="sidebar__navtitle" [style.textAlign]="isSidebarActive ? 'center' : 'left'">
        {{ section.section }}
      </p>

      <!-- Navigation items -->
      <ul class="sidebar__navlist">
        <li
          *ngFor="let item of section.items; let i = index"
          class="sidebar__navitem"
          [class.active]="activeMenuIndex === i"
          (click)="toggleMenu(i)"
        >
          <!-- Main item -->
          <a [routerLink]="item.route" [title]="isSidebarActive ? item.name : ''">
            <i class="icon" [class]="item.icon"></i>
            <span class="text" *ngIf="!isSidebarActive">{{ item.name }}</span>
            <i *ngIf="item.subMenu" class="arrow ph-bold ph-caret-down"></i>
          </a>

          <!-- Submenu -->
          <!-- <ul class="sidebar__sub-menu" *ngIf="item.subMenu && activeMenuIndex === i">
            <li *ngFor="let subItem of item.subMenu" class="sidebar__sub-item">
              <a [routerLink]="subItem.route">
                <span class="text">{{ subItem.name }}</span>
              </a>
            </li>
          </ul> -->
        </li>
      </ul>
    </div>
  </div>
</div>
