<div class="page-container">
    <breadcrumb [link]="'insureds'" [category]="'Named Insureds'" [id]="namedInsuredId"></breadcrumb>
    <div class="page-section">
        <record-header [title]="insured.name"></record-header>
        <div class="insured-info-content">
            <h2>Insured Info:</h2>
            <div class="info-row">
                <span class="label">Mailing Address:</span>
                <span class="value">{{insured.address}}</span>
            </div>
            <div class="info-row">
                <span class="label">Postal Code:</span>
                <span class="value">{{insured.postalCode}}</span>
            </div>
            <div class="info-row">
                <span class="label">Province:</span>
                <span class="value">{{insured.province}}</span>
            </div>
        </div>
        <button>Edit</button>
    </div>
    <div class="page-section">
        <h2>Insured's Accounts</h2>
        <div class="table-container">
            <table class="task-table">
                <thead>
                    <tr>
                        <th>Year</th>
                        <th>PolicyID</th>
                        <th>Underwriter</th>
                        <th>Product</th>
                        <th>Status</th>
                        <th>Last Updated</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let account of accounts">
                        <td>
                            <a [routerLink]="['/account', account.id]">{{ account.created_time.slice(0, 4) }}</a>
                        </td>
                        <td>
                            <a [routerLink]="['/account', account.id]">{{ account.policy_id }}</a>
                        </td>
                        <td>
                            <a [routerLink]="['/underwriter', account.underwriter_id]">{{ account.underwriter_data.first_name }}</a>
                        </td>
                        <td>{{ account.product }}</td>
                        <td>{{ account.status }}</td>
                        <td>{{ account.lastUpdated }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
