<underwriter-form #underwriterForm></underwriter-form>
<div class="list-page-container">
    <div class="list-page-header">
        <app-reference-banner [title]="title"></app-reference-banner>
    </div>
    
    <div class="table-container">
        <div class="list-page-panel">
            <div class="search-container">
                <input type="text" placeholder="Search by Underwriter Name..." [(ngModel)]="query" (keyup)="search()"
                    class="search-bar" />
            </div>
            <button (click)="underwriterForm.openForm()">Create Underwriter</button>
        </div>
        <table class="task-table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Underwriter Name</th>
                    <th>Role</th>
                    <th>Business Unit</th>
                    <th>Team</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let underwriter of underwriters">
                    <td>{{ underwriter.id }}</td>
                    <td><a [routerLink]="['/underwriter', underwriter.id]">{{underwriter.firstName}} {{underwriter.lastName}}</a></td>
                    <td>{{ underwriter.role }}</td>
                    <td>{{ underwriter.businessUnitName }}</td>
                    <td>{{ underwriter.teamName }}</td>
                </tr>
            </tbody>
        </table>
    </div>

</div>