@import '../../../styles/account-card.scss';
@import '../../../styles/account-page.scss';

.named-insured-card h1 {
    margin: 0 0 4px 0;
}

.named-insured-card h2 {
    font-size: 1em;
    margin: 0 0 10px 0;
    color: #333;
}

.named-insured-card h1 a {
    color: #2c3e50;
    text-decoration: none;
    font-size: 1.4em;
    font-weight: bold;
}