<record-breadcrumb [category]="'Accounts'" [id]="'0'"></record-breadcrumb>
<div class="tabs">
    <button (click)="setActiveTab(1)">Risk Summary</button>
    <button (click)="setActiveTab(2)">Rating / Quoting</button>
    <button (click)="setActiveTab(3)">Files</button>
    <button (click)="setActiveTab(4)">Account Notes</button>
</div>
<div class="tab-content">
    <div *ngIf="activeTab === 1">
        <risk-summary [data]="accountRecord"></risk-summary>
    </div>
    <div *ngIf="activeTab === 2">
        <rating-quoting></rating-quoting>
    </div>
    <div *ngIf="activeTab === 3">
        <file-structure></file-structure>
    </div>
    <div *ngIf="activeTab === 4">
        <account-notes></account-notes>
    </div>
</div>