<div class="list-page-container">
    <div class="list-page-header">
        <app-reference-banner [title]="title"></app-reference-banner>
    </div>

    <div class="table-container">
        <div class="list-page-panel">

            <!-- Search Input -->
            <div class="search-container">
                <input type="text" placeholder="Search by name, title, phone or email..." [(ngModel)]="query" (keyup)="search()"
                    class="search-bar" />
            </div>

            <button>New Agent</button>

        </div>
        <table class="task-table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Title</th>
                    <th>Phone</th>
                    <th>Email</th>
                    <th>Company ID</th>
                    <th>Company</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let broker of brokers">
                    <td>{{ broker.id }}</td>
                    <td><a [routerLink]="['/broker', broker.id]">{{ broker.firstName }} {{
                            broker.lastName }}</a></td>
                    <td>{{ broker.title}}</td>
                    <td>{{ broker.phoneNumber}}</td>
                    <td>{{ broker.email}}</td>
                    <td>{{ broker.brokerComapnyId }}</td>
                    <td>{{ broker.brokerCompanyName}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>