<div class="list-page-container">
    <div class="list-page-header">
        <app-reference-banner [title]="title"></app-reference-banner>
    </div>

    <div class="table-container">
        <div class="list-page-panel">
            <!-- Search Input -->
            <div class="search-container">
                <input type="text" placeholder="Search by Company Name..." [(ngModel)]="query" (keyup)="search()"
                    class="search-bar" />
            </div>
            <button>New Broker Company</button>
        </div>
        <table class="task-table">
            <thead>
                <tr>
                    <th>Company ID</th>
                    <th>Name</th>
                    <th>Address</th>
                    <th>City</th>
                    <th>Province</th>
                    <th>Postal Code</th>
                    <th>Parent Company</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let company of companies">
                    <td>{{ company.companyId }}</td>
                    <td><a [routerLink]="['/brokercompany', company.id]">{{company.name}}</a> </td>
                    <td>{{ company.address }}</td>
                    <td>{{ company.city }}</td>
                    <td>{{ company.province }}</td>
                    <td>{{ company.postalCode }}</td>
                    <td><a [routerLink]="['/brokercompany', company.parentCompanyId]">{{company.parentCompanyName}}</a> </td>                </tr>
            </tbody>
        </table>
    </div>
</div>