<div class="reference-page-container">
    <div class="reference-page-header">
        <app-reference-banner [title]="title"></app-reference-banner>
    </div>
    
    <div class="table-container">
        <div class="reference-page-panel">
            <searchbar></searchbar>
            <button>New Insured</button>
        </div>
        <table class="task-table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Insured</th>
                    <th>Mailing Address</th>
                    <th>Province</th>
                    <th># of Linked Accounts</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let insured of insureds">
                    <td>{{ insured.insured_id }}</td>
                    <td><a [routerLink]="['/insured', insured.insured_id]">{{insured.insured_name}}</a> </td>
                    <td>{{ insured.insured_street_address }}, {{ insured.insured_postal_code }}</td>
                    <td>{{ insured.insured_province }}</td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>