<div class="page-container">
    <breadcrumb [link]="'brokercompanies'" [category]="'Broker Companies'" [id]="id"></breadcrumb>
    <div class="page-section">
        <record-header [title]="company.name"></record-header>
        <div class="info-content">
            <h2>Company Info:</h2>
            <div class="info-row">
                <span class="label">Company ID:</span>
                <span class="value">{{company.companyId}}</span>
            </div>
            <div class="info-row">
                <span class="label">Address:</span>
                <span class="value">{{company.address}}</span>
            </div>
            <div class="info-row">
                <span class="label">City :</span>
                <span class="value">{{company.city}}</span>
            </div>
            <div class="info-row">
                <span class="label">Province :</span>
                <span class="value">{{company.province}}</span>
            </div>
            <div class="info-row">
                <span class="label">Postal Code:</span>
                <span class="value">{{company.postalCode}}</span>
            </div>
            <div *ngIf="!company.topLevel" class="info-row">
                <span class="label">Parent Company:</span>
                <span class="value"><a [routerLink]="['/brokercompany', company.parentCompanyId]">{{company.parentCompanyName}}</a></span>
            </div>
        </div>
        <button>Edit</button>
    </div>
    <div class="page-section">
        <h2>Company Brokers</h2>
        <!-- <named-insured-table></named-insured-table> -->
    </div>
</div>
