<div class="policy-module account-card">
    <h1>Policy:</h1>
    <button class="rating-quoting-button">Generate Policy</button>
    <div class="info-card">
        <table>
            <tr>
                <td class="financial-sub-subject">Pol. Period From:</td>
                <td class="financial-line-item">2024/10/11</td>
            </tr>
            <tr>
                <td class="financial-sub-subject">Pol. Period To:</td>
                <td class="financial-line-item">2027/11/11</td>
            </tr>
            <tr>
                <td class="financial-sub-subject">Max Policy Term:</td>
                <td class="financial-line-item">$2 000.00</td>
            </tr>
            <tr>
                <td class="financial-sub-subject">Finaly Policy Term:</td>
                <td class="financial-line-item">$2 000.00</td>
            </tr>
            <tr>
                <td class="financial-sub-subject">Per Pollution Limit:</td>
                <td class="financial-line-item">$2 000.00</td>
            </tr>
            <tr>
                <td class="financial-sub-subject">Total Poll. Limit:</td>
                <td class="financial-line-item">$2 000.00</td>
            </tr>
            <tr>
                <td class="financial-sub-subject">Policy SIR:</td>
                <td class="financial-line-item">$2 000.00</td>
            </tr>
            <tr>
                <td class="financial-sub-subject">Retroactive Date:</td>
                <td class="financial-line-item">2024/10/21</td>
            </tr>
            <tr>
                <td class="financial-sub-subject">Benchmark:</td>
                <td class="financial-line-item">$1 000.00</td>
            </tr>
            <tr>
                <td class="financial-sub-subject">Issued Date:</td>
                <td class="financial-line-item">2024/10/31</td>
            </tr>
            <tr>
                <td class="financial-sub-subject">Bound Premium:</td>
                <td class="financial-line-item">$5 555.00</td>
            </tr>
            <tr>
                <td class="financial-sub-subject">Bound Com.:</td>
                <td class="financial-line-item">$4 321.00</td>
            </tr>
            <tr>
                <td class="financial-sub-subject">Bound RC Fee:</td>
                <td class="financial-line-item">$1 234.00</td>
            </tr>
            <tr>
                <td class="financial-sub-subject">Total Fees/CVs:</td>
                <td class="financial-line-item">$123 012.00</td>
            </tr>
        </table>
    </div>
</div>