<div class="app-container">
  <!-- <div class="content-wrapper"> -->
    <!-- <sidebar (sidebarToggled)="onSidebarToggled($event)"></sidebar> -->
     <app-sidenav></app-sidenav>
    <!-- <div class="main-content" [ngClass]="{ 'shrink': sidebarExpanded }"> -->
      <!-- <main-banner></main-banner> -->
     <main class="app-main">
      <app-header class="app-header"></app-header>
      <router-outlet></router-outlet>
      <app-footer class="app-footer"></app-footer>
     </main> 
     
    <!-- </div> -->
  <!-- </div> -->
</div>
