<div class="account-product account-card">
    <table>
    </table>
    <table>
        <tr>
            <td><h2>Insurance Product:</h2></td>    
        </tr>
        <tr>
            <td>Business Unit:</td>
            <td>{{accountData.business_unit}}</td>
        </tr>
        <tr>
            <td>Sub-unit:</td>
            <td>{{accountData.business_subunit}}</td>
        </tr>
        <tr>
            <td>Policy Type:</td>
            <td>{{accountData.product_type}}</td>
        </tr>
    </table>
    <table>
        <tr>
            <td><h2>Policy ID:</h2></td>
            <td><h2>{{accountData.policy_id}}</h2></td>
        </tr>
        <tr>
            <td>Policy Start:</td>
            <td>{{accountData.policy_start_date}}</td>
        </tr>
        <tr>
            <td>Policy End:</td>
            <td>{{accountData.policy_end_date}}</td>
        </tr>
    </table>
</div>