@import '../../../styles/account-page.css';

.account-timeline {
    width: 740px;
}

.account-timeline h2 {
    font-size: 1.6em;
    color: #777c81;
    font-weight: bold;
}

.account-timeline table {
    width: 100%
}

.timeline-table{
    width: 70%;
    background-color: #ffffff;
}