@import '../../../styles/account-card.scss';
@import '../../../styles/account-page.scss';

.account-timeline {
    width: 100%;
}

.account-timeline h2 {
    font-size: 1.6em;
    color: #777c81;
    font-weight: bold;
}

.account-timeline table {
    width: 100%;
}

.timeline-table{
    // width: 70%;
    background-color: #ffffff;
}