<div class="table-container">
    <table class="task-table">
        <thead>
            <tr>
                <th>PolicyID</th>
                <th>Insured</th>
                <th>Underwriter</th>
                <th>Product</th>
                <th>Status</th>
                <th>Date Created</th>
                <th>Last Updated</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let account of accounts">
                <td>
                    <a [routerLink]="['/account', account.id]">{{ account.policyId }}</a>
                </td>
                <td>
                    <a href="#">{{ account.insured }}</a>
                </td>
                <td>
                    <a href="#">{{ account.underwriter }}</a>
                </td>
                <td>{{ account.product }}</td>
                <td>{{ account.status }}</td>
                <td>{{ account.dateCreated }}</td>
                <td>{{ account.lastUpdated }}</td>
            </tr>
        </tbody>
    </table>
</div>