<div class="account-summary account-card">
    <table>
        <tr>
            <td>
                <h2>Account Status:</h2>
            </td>
            <td>
                <h2>{{accountData.account_status}}</h2>
            </td>
        </tr>
        <tr>
            <td>Team:</td>
            <td>{{accountData.team_data.name}}</td>
        </tr>
        <tr>
            <td>Year:</td>
            <td>{{accountData.year}}</td>
        </tr>
        <tr>
            <td>Submission Type:</td>
            <td>{{accountData.submission_type}}</td>
        </tr>
        <tr>
            <td>Quote Indicated:</td>
            <td>{{accountData.indicated}}</td>
        </tr>
        <tr>
            <td>Quote Revisions:</td>
            <td>{{accountData.quote_revisions_count}}</td>
        </tr>
        <tr>
            <td>Final Quote Created:</td>
            <td>{{accountData.final_quote}}</td>
        </tr>
        <tr>
            <td>Policy Issued</td>
            <td>{{accountData.has_policy}}</td>
        </tr>
        <tr>
            <td>Created Time</td>
            <td>{{accountData.created_time.slice(0,19)}}</td>
        </tr>
        <tr>
            <td>Updated Time</td>
            <td>{{accountData.updated_time.slice(0,19)}}</td>
        </tr>
    </table>
</div>