@import '../../../styles/account-card.scss';
@import '../../../styles/account-page.scss';

.account-summary{
    display: flex;
    flex-direction: column;
    justify-content: top;
    width: 340px;
}

.account-summary h2{
    font-size: 1.2em;
    color: #2c3e50;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 4px;
}

.account-summary td{
    font-size: 1em;
    color: #333;
    font-weight: 2;
}