<div class="reference-page-container">
    <div class="reference-page-header">
        <app-reference-banner [title]="title"></app-reference-banner>
    </div>

    <div class="table-container">
        <div class="reference-page-panel">

            <!-- Search Input -->
            <div class="search-container">
                <input type="text" placeholder="Search by name, title, phone or email..." [(ngModel)]="query" (keyup)="search()"
                    class="search-bar" />
            </div>

            <button>New Agent</button>

        </div>
        <table class="task-table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>brokerFirstName</th>
                    <th>brokerTitle</th>
                    <th>brokerPhone</th>
                    <th>brokerEmail</th>
                    <th>brokerCompanyId</th>
                    <th>brokerCompanyName</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let broker of brokers">
                    <td>{{ broker.broker_id }}</td>
                    <td><a [routerLink]="['/broker', broker.broker_id]">{{ broker.broker_first_name }} {{
                            broker.broker_last_name }}</a></td>
                    <td>{{ broker.broker_title}}</td>
                    <td>{{ broker.broker_phone_number}}</td>
                    <td>{{ broker.broker_email}}</td>
                    <td>{{ broker.broker_company }}</td>
                    <td>{{ broker.brokerCompanyName}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>