@import '../../../styles/account-page.css';

.rating-module {
    width: 1080px;
    height: 100%;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
}

table {
    width: 100%;
}

tr {
    vertical-align: middle;
    display: flex;
}

td {
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

.risk-line-items th{
    width: 25%;
    border: 2px solid rgb(226, 226, 226);
    background-color: rgb(116, 116, 116);
    font-size: 14px;
    align-items: center;
    color: white;
}
.risk-line-items td{
    width: 25%;
    font-size: 14px;
    align-items: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.rating-button{
    background-color: rgb(8, 169, 126);
    width: 120px;
    height: 40px;
    margin: 5px;
}
.rater-product-name{
    color: rgb(8, 169, 126);
}
.rating-table{
    width: 90%;
}