<div class="rating-module account-card">
    <table>
        <tr>
            <td>
                <h1 class="rater-product-name">{{accountData.product_type}}</h1>
            </td>
        </tr>
        <tr>
            <td>
                <button class="rating-button">Change Product</button>
            </td>
            <td>
                <button class="rating-button">Rating Model</button>
            </td>
        </tr>
    </table>
    <div class="rating-table info-card">
        <div class="table-container">
            <table class="task-table">
                <thead>
                    <tr class="risk-line-items">
                        <th>Risk</th>
                        <th>Environmental Operations</th>
                        <th>Revenue</th>
                        <th>Subcontracted Revenue</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="risk-line-items">
                        <td><em>High</em></td>
                        <td>Pipeline Installation</td>
                        <td>$1,000,000</td>
                        <td>$0</td>
                    </tr>
                    <tr class="risk-line-items">
                        <td><em>Moderate/Low</em></td>
                        <td>Remediation</td>
                        <td>$10,000</td>
                        <td>$0</td>
                    </tr>
                    <tr class="risk-line-items">
                        <td><em>High</em></td>
                        <td>Fire/Water Restoration</td>
                        <td>$5,000,000</td>
                        <td>$0</td>
                    </tr>
                    <tr class="risk-line-items">
                        <td><em>High</em></td>
                        <td>Fire/Water Restoration</td>
                        <td>$5,000,000</td>
                        <td>$0</td>
                    </tr>
                    <tr class="risk-line-items">
                        <td><em>High</em></td>
                        <td>Fire/Water Restoration</td>
                        <td>$5,000,000</td>
                        <td>$0</td>
                    </tr>
                    <tr class="risk-line-items">
                        <td><em>High</em></td>
                        <td>Fire/Water Restoration</td>
                        <td>$5,000,000</td>
                        <td>$0</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div>Total Cost</div>
</div>