<h1>Rater</h1>
<button>Generate Quote</button>
<div class="cart-card">
    <div>
        <h3>Quote Options:</h3>
        <!-- <button (click)="changeVerticalOptions()">Change display</button> -->
    </div>
    <div class="card-body">
        <table>
            <thead>
                <tr>
                    <th style="width: 10%">Actions</th>
                    <th style="width: 20%">Per Limit</th>
                    <th style="width: 20%">Total Limit</th>
                    <th style="width: 20%">SIR</th>
                    <th style="width: 10%">Terms</th>
                    <th style="width: 20%">Total Premium</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of rater?.options">
                    <td>
                        <button class="remove-btn" (click)="removeOption(item.id)">-</button>
                        <button class="" (click)="copyValues(item)">Copy</button>
                    </td>
                    <td>${{item.per_limit| formatNumber }}</td>
                    <td>${{item.total_limit| formatNumber }}</td>
                    <td>${{item.retention| formatNumber }}</td>
                    <td>{{item.terms}} term(s)</td>
                    <td><strong>${{item.total_premium| formatNumber }}</strong></td>
                </tr>
                <tr>
                    <td>
                        <button class="add-item-btn" (click)="addNewOption()">+</button>
                    </td>
                    <td>
                        <p><input type="text" placeholder="Term" [(ngModel)]="perLimit"
                                (ngModelChange)="updateTotalPremium()"></p>
                        <button (click)="increasePerLimit(500000)">add 500k limit</button>
                        <button (click)="increasePerLimit(-500000)">sub 500k limit</button>

                    </td>
                    <td>
                        <p><input type="text" placeholder="Term" [(ngModel)]="totalLimit"
                                (ngModelChange)="updateTotalPremium()"></p>
                        <button (click)="increaseTotalLimit(500000)">add 500k limit</button>                        
                        <button (click)="increaseTotalLimit(-500000)">sub 500k limit</button>
                    </td>
                    <td>
                        <p><input type="text" placeholder="Term" [(ngModel)]="sir"
                                (ngModelChange)="updateTotalPremium()"></p>
                            <button (click)="increaseRetention25k(25000)">add 25k retention</button>
                            <button (click)="increaseRetention25k(-25000)">sub 25k retention</button>
                    </td>
                    <td>
                        <p><input type="text" placeholder="Term" [(ngModel)]="terms"
                                (ngModelChange)="updateTotalPremium()"></p>
                                <button (click)="increaseTerms(2)">add 2 terms</button>
                                <button (click)="increaseTerms(-2)">sub 2 terms</button>
                    </td>
                    <td>${{totalPremium! | formatNumber }}</td>
                </tr>
        </table>
    </div>
</div>
