<div class="dashboard">
    <div class="dashboard-item">
      <div class="dashboard-item-content">New Submission</div>
    </div>
    <div class="dashboard-item">
      <div class="dashboard-item-content">Renewal</div>
    </div>
    <div class="dashboard-item">
      <div class="dashboard-item-content">Bound Tracking</div>
    </div>
    <div class="dashboard-item">
      <div class="dashboard-item-content">Projects</div>
    </div>
    <div class="dashboard-item">
      <div class="dashboard-item-content">Broker List</div>
    </div>
    <div class="dashboard-item">
      <div class="dashboard-item-content">Broker Company List</div>
    </div>
    <div class="dashboard-item">
      <div class="dashboard-item-content">Named Insured List</div>
    </div>
    <div class="dashboard-item">
      <div class="dashboard-item-content">User Profile</div>
    </div>
  </div>