<div class="dashboard">

    <div class="dashboard__hero">
        <app-welcome class="dashboard__welcome"></app-welcome>
        <underwriter-actions class="dashboard__welcome"></underwriter-actions>

        <!-- <div class="dashboard-item-title">
            Underwriter Actions
        </div>
        <div class="actions-grid">
            <action-item *ngFor="let item of underwriterActions" [icon]="item.icon" [action]="item.action"
                (actionClicked)="onActionClicked($event)">
            </action-item>
    </div> -->

        <!-- <div class="dashboard__action">
            <p class="dashboard__subtitle">
                Underwriter Actions
            </p>
            <div class="dashboard__actions-grid">
                <action-item *ngFor="let item of underwriterActions" [icon]="item.icon" [action]="item.action"
                    (actionClicked)="onActionClicked($event)">
                </action-item>
            </div>
        </div> -->

    </div>

    <section class="dashboard__main">
        <div class="dashboard__main-container">
            <mat-tab-group class="dashboard__main-nav">
                <mat-tab label="Overview">
                    <overview-tab></overview-tab>
                </mat-tab>
                <mat-tab label="Renewal">
                    <!-- <overview-tab></overview-tab> -->
                </mat-tab>
                <mat-tab label="Bound">
                    <!-- <overview-tab></overview-tab> -->
                </mat-tab>
                <mat-tab label="Team">
                    Content 3
                </mat-tab>
            </mat-tab-group>
        </div>
    </section>

    




    <!-- <div class="dashboard-item-title">
        Your Accounts
    </div>
    <table class="task-table">
        <thead>
            <tr>
                <th>Year</th>
                <th>PolicyID</th>
                <th>
                    <div class="search-container">
                        <input type="text" placeholder="Named Insured" [(ngModel)]="insuredFilter" (keyup)="search()"
                            class="search-bar" />
                    </div>
                </th>
                <th>Broker</th>
                <th>Submission</th>
                <th>Product</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let account of accounts">
                <td><a [routerLink]="['/account', account.id]">{{account.year}}</a></td>
                <td>{{ account.policy_id }}</td>
                <td>{{ account.named_insured_data.name }}</td>
                <td>{{ account.broker_data.first_name }} {{ account.broker_data.last_name }}</td>
                <td>{{ account.submission_type }}</td>
                <td>{{ account.product_type }}</td>
                <td>{{ account.account_status }}</td>
            </tr>
        </tbody>
    </table>
    <div class="notifications-grid">
    </div> -->
    <!-- <div class="dashboard-item-title">
        History
    </div>
    <div class="actions-grid">
        <div class="dashboard-item">
            <div class="dashboard-item-content">Bound Tracking</div>
        </div>
        <div class="dashboard-item">
            <div class="dashboard-item-content">Projects</div>
        </div>
    </div> -->
</div>