<div class="page-container">
    <breadcrumb [link]="'underwriters'" [category]="'Underwriters'" [id]="id"></breadcrumb>
    <div class="page-section">
        <div class="info-content">
            <h2>Underwriter Info:</h2>
            <div class="info-row">
                <span class="label">Name:</span>
                <span class="value">{{underwriter?.firstName}} {{underwriter?.lastName}}</span>
            </div>
            <div class="info-row">
                <span class="label">Role</span>
                <span class="value">{{underwriter?.role}}</span>
            </div>
            <div class="info-row">
                <span class="label">Business Unit:</span>
                <span class="value">{{underwriter?.businessUnitName}}</span>
            </div>
            <div class="info-row">
                <span class="label">Team:</span>
                <span class="value">{{underwriter?.teamName}}</span>
            </div>
        </div>
        <button>Edit</button>
    </div>
    <div class="page-section">
        <h2>Linked Accounts with Underwriter ({{count}})</h2>
        <div class="table-container">
            <table class="task-table">
                <thead>
                    <tr>
                        <th>Date Created</th>
                        <th>PolicyID</th>
                        <th>Insured</th>
                        <th>Product</th>
                        <th>Status</th>
                        <th>Last Updated</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let account of accounts">
                        <td>
                            <a [routerLink]="['/account', account.id]">{{ account.created_time }}</a>
                        </td>
                        <td>
                            <a [routerLink]="['/account', account.id]">{{ account.policy_id }}</a>
                        </td>
                        <td>
                            <a [routerLink]="['/insured', account.named_insured]">{{ account.named_insured_data.name }}</a>
                        </td>
                        <td>{{ account.product_type }}</td>
                        <td>{{ account.account_status }}</td>
                        <td>{{ account.updated_time }}</td>
                        <button [routerLink]="['/account', account.id]">Open Account</button>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>