<div class="history-section account-card">
    <h1>Account History:</h1>
    <table class="history-table info-card">
        <tr>
            <th class="history-table-timestamp">
                Timestamp
            </th>
            <th class="history-table-user">
                User
            </th>
            <th class="history-table-action">
                Action
            </th>
        </tr>
        <tr>
            <td class="history-table-timestamp">
                <div>
                    2024-11-12
                </div>
                <div>
                    5:15PM EST
                </div>
            </td>
            <td class="history-table-user">
                Herman Woo
            </td>
            <td class="history-table-action">
                Changed Underwriter to 'Carl Spensieri'
            </td>
        </tr>
        <tr>
            <td class="history-table-timestamp">
                <div>
                    2024-11-12
                </div>
                <div>
                    4:15PM EST
                </div>
            </td>
            <td class="history-table-user">
                Tina Pham
            </td>
            <td class="history-table-action">
                Bound Account to RiskWrite
            </td>
        </tr>
        <tr>
            <td class="history-table-timestamp">
                <div>
                    2024-11-11
                </div>
                <div>
                    3:45PM EST
                </div>
            </td>
            <td class="history-table-user">
                Tina Pham
            </td>
            <td class="history-table-action">
                Finalized Quote
            </td>
        </tr>
        <tr>
            <td class="history-table-timestamp">
                <div>
                    2024-11-10
                </div>
                <div>
                    2:11PM EST
                </div>
            </td>
            <td class="history-table-user">
                Tina Pham
            </td>
            <td class="history-table-action">
                Revised Quote, Revision 6
            </td>
        </tr>
    </table>
</div>
