<div>
    <app-reference-banner [title]="title"></app-reference-banner>
    
    <searchbar></searchbar>

    <div class="table-container">
        <table class="task-table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Insured</th>
                    <th>Insured</th>
                    <th>Insured</th>
                    <th>Insured</th>
                    <th>Address</th>
                    <th>Province</th>
                    <th>Linked Accounts</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let broker of brokers">
                    <td>{{ broker.brokerId }}</td>
                    <td><a [routerLink]="['/broker', broker.brokerId]">{{broker.brokerFirstName}}</a> </td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>